{% load staticfiles %}
<!DOCTYPE html>
  <head>

    <meta charset="utf-8">

    <title>Eleições 2018</title>

    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/scrolling-nav.css" %}' rel="stylesheet">
    <link href='{% static "css/autocomplete.css" %}' rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Eleições 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#candidatos">Candidatos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#usuarios">Usuários</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#regiao">Região</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/voto">Votar</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
              <a href="usuario/{{user.id}}" class="nav-link">  {{ user.username }} </a>
            </li>


             <li class="nav-item">
              <a class="nav-link " href="{% url 'logout' %}">Logout</a>
            </li>

            {% else %}
             <li class="nav-item">
              <a class="nav-link " href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white" style="background-image: url('../static/images/capa_fundo.png'); background-repeat: repeat-x;  background-position: center;">
      <div class="container text-center">
        <h1 style="font-size: 80px; position: relative">Eleições 2018</h1>
        <p class="lead">Sistema oficial das eleições de 2018</p>
      </div>
    </header>

    <section id="candidatos" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Busca por candidatos</h2>
            <form autocomplete="off" action="/action_page.php">
              <div class="form-group">
                <div class="autocomplete">
                  <div class="input-group">
                    <input id="myInput" class="form-control" type="text" name="myCountry">
                    <div class="input-group-append">
                      <button class="btn btn-primary" onclick="buscaCandidato($('#myInput').val())" type="button">Buscar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="usuarios">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Usuários criados</h2>
            <ul>
                {% for usuario in usuarios %}
                    <li><a href="/usuario/{{usuario.id}}">{{ usuario.nome }} / {{ usuario.email }}</a></li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_usuario' %}">Cadastrar usuário</a>
          </div>
        </div>
      </div>
    </section>

    <section id="regiao" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Estados presentes</h2>
            <ul>
                {% for estado in estados %}
                    <li>{{ estado.nome }} - {{ estado.sigla }}</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_estado' %}">Cadastrar estado</a>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Eleições 2018</p>
      </div>
    </footer>

    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>
    <script src='{% static "js/scrolling-nav.js" %}'></script>
    <script src='{% static "js/general.js" %}'></script>
    <script>
      getCandidatos();
      listaCandidatos();
    </script>

  </body>
</html>
