{% load staticfiles %}
<!DOCTYPE html>
  <head>

    <meta charset="utf-8">

    <title>Eleições 2018</title>

    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/scrolling-nav.css" %}' rel="stylesheet">
    <link href='{% static "css/autocomplete.css" %}' rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Eleições 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#candidatos">Candidatos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#cargos">Cargos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#votar">Votar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#boca_de_urna">Boca de Urna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#local">Local de Votação</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#noticias">Notícias</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
              <a href="{% url 'usuario' user.id %}" class="nav-link">  {{ user.username }} </a>
            </li>


             <li class="nav-item">
              <a class="nav-link " href="{% url 'logout' %}">Logout</a>
            </li>

            {% else %}
             <li class="nav-item">
              <a class="nav-link " href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white" style="background-image: url('../static/images/capa_fundo.jpg'); background-repeat: repeat-x;  background-position: center; background-size: cover;">
      <div class="container text-center">
        <!--h1 style="font-size: 100px; position: relative;"></h1>
        <p class="lead"></p-->
        <br><br><br>
      </div>
    </header>

    <section id="sobre">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <h2>Sobre as eleições de 2018</h2>
            <br>
            <p>Eleições para os seguintes cargos:</p>
            <p>Presidente da República, Governador, Senador, Deputado Federal e Deputado Estadual</p>
            <p>Primeiro Turno: 7 de Outubro / Segundo turno: 28 de Outubro</p>
          </div>
        </div>
      </div>
    </section>

    <section id="candidatos" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <h2>Candidatos</h2>
            <form autocomplete="off" action="/action_page.php">
              <div class="form-group">
                <div class="row">
                  <div class="autocomplete col-lg-6">
                    <div class="input-group">
                      <input id="myInput" class="form-control" type="text" name="myCountry">
                      <div class="input-group-append">
                        <button class="btn btn-primary form-control" onclick="buscaCandidato($('#myInput').val())" type="button">Buscar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <a class="btn btn-primary" href="{% url 'candidatos' %}">Lista de Candidatos</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="cargos">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <h2>Cargos</h2>
            <br>
            <p>Tudo sobre os cargos presentes nessa eleição:</p>
            {% for cargo in cargos %}
              <div class="row">
                <div class="col-lg-12 mx-auto">
                  <a href="{% url 'cargo' cargo.id %}">{{ cargo.nome }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section id="votar" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <h2>É hora de votar!</h2>
            <br>
            <p>Chegou a hora de votar</p>
            <p>Sua intenção de voto será processada e contabilizada para nossa pesquisa de boca de urna.</p>
            <p>Não perca tempo e simule seu voto!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <a class="btn btn-primary" href="{% url 'voto_carregado' %}">Iniciar intenção de voto</a><br><br>
            <b><span>OBS: É necessário realizar o login ou caso não tenha cadastro, cadastre-se <a href="{% url 'registrar_usuario' %}">aqui</a>.</span></b>
          </div>
        </div>
      </div>
    </section>

    <section id="boca_de_urna">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <h2>Boca de Urna</h2>
            <br>
            <p>Nessa seção você pode acompanhar qual candidato obtém mais votos, de acordo com seu cargo e estado.</p>
            <br>
            <a class="btn btn-primary" href="{% url 'boca_de_urna' %}">Boca de urna</a>
          </div>
        </div>
      </div>
    </section>

    <section id="local" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12 mx-auto">
              <h2>Local de Votação</h2>
              <br>
              <p>Saiba onde você irá votar!</p>
              <br>
              <a class="btn btn-primary" href="{% url 'local' %}">Local de votação</a>
            </div>
          </div>
        </div>
      </section>

    <section id="noticias">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 mx-auto">
            <h2>Principais notícias sobre as eleições</h3>
            <br>
            <br>
          </div>
        </div>
        {% for noticia in noticias %}
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <h3><a href="{{ noticia.link }}">{{ noticia.titulo }}</a></h3>
              {% load tz %}
              <p class="lead" style="color: grey">{{ noticia.data|date:"d-m-Y H:i" }}</p>
              <br>
              <a href={{ noticia.link }}><img src="../static/images/noticias/not{{noticia.id}}.jpg" style="height: 500px; width: 900px" href="{{ noticia.link }}" class="img-fluid" alt="{{ noticia.titulo }}"></a>
              <br><br><br><br><br><br>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Eleições 2018</p>
      </div>
    </footer>

    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>
    <script src='{% static "js/scrolling-nav.js" %}'></script>
    <script src='{% static "js/general.js" %}'></script>
    <script>
      getCandidatos();
      listaCandidatos();
    </script>

  </body>
</html>
