{% load staticfiles %}
<!DOCTYPE html>
  <head>

    <meta charset="utf-8">

    <title>Eleições 2018</title>

    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/scrolling-nav.css" %}' rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Eleições 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#usuarios">Usuários</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#regiao">Região</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#partidos">Partidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#candidatos">Candidatos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/voto">Votar</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
              <p class="nav-link">  Hi {{ user.username }}! </p>
            </li>


             <li class="nav-item">
              <a class="nav-link " href="{% url 'logout' %}">Logout</a>
            </li>

            {% else %}
             <li class="nav-item">
              <a class="nav-link " href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bem-vindo ao sistema Eleições 2018</h1>
        <!--p class="lead">Não sei o que colocar aqui</p-->
      </div>
    </header>

    <section id="usuarios">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Usuários criados</h2>
            <ul>
                {% for usuario in usuarios %}
                    <li><a href="/usuario/{{usuario.id}}">{{ usuario.nome }} / {{ usuario.email }}</a></li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_usuario' %}">Cadastrar usuário</a>
          </div>
        </div>
      </div>
    </section>

    <section id="regiao" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Estados presentes</h2>
            <ul>
                {% for estado in estados %}
                    <li>{{ estado.nome }} - {{ estado.sigla }}</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_estado' %}">Cadastrar estado</a>
          </div>
        </div>
      </div>
    </section>

    <section id="partidos">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Partidos Cadastrados</h2>
            <ul>
                {% for partido in partidos %}
                    <li>{{ partido.nome }} - {{ partido.sigla }}</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_partido' %}">Cadastrar partido</a>
          </div>
        </div>
      </div>
    </section>

    <section id="candidatos" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Candidatos Cadastrados</h2>
            <ul>
              {% for cargo in cargos %}
                  <li>{{ cargo.nome }}
                    <ul>
                      {% for candidato in candidatos %}
                          {% if candidato.cargo_id.id == cargo.id %}
                              <li>{{ candidato.nome }} ({{ candidato.partido_id.sigla }} - {{ candidato.estado_id.sigla }})</li>
                          {% endif %}
                      {% endfor %}
                    </ul>
                  </li>
                  <br>
              {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_candidato' %}">Cadastrar candidato</a>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Eleições 2018</p>
      </div>
    </footer>

    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>
    <script src='{% static "js/scrolling-nav.js" %}'></script>

  </body>

</html>
