{% load staticfiles %}
<!DOCTYPE html>
  <head>

    <meta charset="utf-8">

    <title>Eleições 2018 - Login</title>

    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/login.css" %}' rel="stylesheet">

  </head>

  <body>
    <div class="centraliza col-xs-6"> 
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" onclick="alternaTab($(this))" id="login-tab" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="alternaTab($(this))" id="register-tab" href="#">Registre-se</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="col-xs-12" id="login_form">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" name="usuario" id="usuario" placeholder="E-mail">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha">
              </div>
              <button type="submit" class="btn btn-primary col-sm-12">Entrar</button>
            </form>
          </div>
          <div class="col-xs-12" id="register_form" style="display: none;">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" name="cpf_register" id="cpf_register" placeholder="CPF" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="nome_register" id="nome_register" placeholder="Nome" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email_register" id="email_register" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <select class="custom-select" name="estado_register" id="estado_register" required>
                  <option value="" hidden>Estado</option>
                  <option value="1">RJ</option>
                  <option value="2">SP</option>
                  <option value="3">MG</option>
                </select>
                <div class="invalid-feedback">Example invalid custom select feedback</div>
              </div>
              <div class="form-group" required>
                <input type="password" class="form-control" name="senha_register1" id="senha_register1" placeholder="Senha">
              </div>
              <div class="form-group" required>
                <input type="password" class="form-control" name="senha_register2" id="senha_register2" placeholder="Senha novamente">
              </div>
              <button type="submit" class="btn btn-success col-sm-12">Registrar</button>
            </form>
          </div>
        </div>
        <div class="card-footer text-center">
          Eleições 2018
        </div>
      </div>
    </div>
  </body>

  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/login.js" %}'></script>
</html>