{% extends "base_registrar_voto.html" %}

{% block body %}
  <form>
    {% csrf_token %}
    <div id="lista_candidatos">
      {% for cargo in cargos %}<br>
          {% if cargo.id == 1 %}
          <div id="{{cargo.id}}-list" class="text-center"><h2>{{ cargo.nome }}</h2>
            <div class="row">
              {% for candidato in candidatos %}
                  {% if candidato.cargo.id == cargo.id %}
                      <div class="col-lg-6 col-sm-12">
                        <br>
                        <div class="card">
                          <div class="card-header text-center">
                            <h3>{{ candidato.nome }}</h3>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title text-center">{{ candidato.partido.sigla }}</h5>
                            <p class="card-text text-center">{{ candidato.estado.nome }}</p>
                            <a style="color: white" onclick='votarCandidato({{candidato.id}}, {{usuario_ativo.id}}); $("#{{cargo.id}}-list").hide()' class="btn btn-primary form-control">Selecionar</a>
                          </div>
                        </div>
                    </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div id="{{cargo.id}}-list" class="text-center"><h2>{{ cargo.nome }}</h2>
            <div class="row">
              {% for candidato in candidatos %}
                  {% if candidato.cargo.id == cargo.id and candidato.estado == usuario_ativo.estado %}
                      <div class="col-lg-6 col-sm-12">
                        <br>
                        <div class="card">
                          <div class="card-header text-center">
                            <h3>{{ candidato.nome }}</h3>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title text-center">{{ candidato.partido.sigla }}</h5>
                            <p class="card-text text-center">{{ candidato.estado.nome }}</p>
                            <a style="color: white" onclick="votarCandidato({{candidato.id}}, {{usuario_ativo.id}}); $('#{{cargo.id}}-list').hide()" class="btn btn-primary form-control">Selecionar</a>
                          </div>
                        </div>
                    </div>
                  {% endif %}
              {% endfor %}
            </div>
          <br>
          </div>
          {% endif %}
      {% endfor %}
    </div>
  </form>
{% endblock %}
