{% load staticfiles %}
<!DOCTYPE html>
  <head>

    <meta charset="utf-8">

    <title>Eleições 2018 - Boca de Urna</title>

    <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/scrolling-nav.css" %}' rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Eleições 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#presidente">Presidente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#governador">Governador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#senador">Senador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#federal">Deputado Federal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#estadual">Deputado Estadual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Voltar para Home Page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Boca de Urna das Eleições de 2018</h1>
        <p class="lead">Intenções de Voto</p>
      </div>
    </header>

    <section id="presidente">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Presidente - (<span id="votos_total_1"></span>)</h2>
            <br>
            <div class="bd-example bd-example-tabs">
              <div class="row">
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#lista_1" role="tab" aria-controls="lista_1" aria-selected="true">Brasil</a>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="lista_1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <canvas id="chartPresidente" width="1600" height="900"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="governador" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Governador - (<span id="votos_total_2"></span>)</h2>
            <br>
            <div class="bd-example bd-example-tabs">
              <div class="row">
                <div class="col-4">
                  <div class="nav flex-column nav-pills" id="lista_2" role="tablist" aria-orientation="vertical">
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="tabContent_2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="senador">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Senador - (<span id="votos_total_3"></span>)</h2>
            <br>
            <div class="bd-example bd-example-tabs">
              <div class="row">
                <div class="col-4">
                  <div class="nav flex-column nav-pills" id="lista_3" role="tablist" aria-orientation="vertical">
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="tabContent_3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="federal" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Deputado Federal - (<span id="votos_total_4"></span>)</h2>
            <br>
            <div class="bd-example bd-example-tabs">
              <div class="row">
                <div class="col-4">
                  <div class="nav flex-column nav-pills" id="lista_4" role="tablist" aria-orientation="vertical">
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="tabContent_4">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="estadual">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Deputado Estadual - (<span id="votos_total_5"></span>)</h2>
            <br>
            <div class="bd-example bd-example-tabs">
              <div class="row">
                <div class="col-4">
                  <div class="nav flex-column nav-pills" id="lista_5" role="tablist" aria-orientation="vertical">
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="tabContent_5">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Eleições 2018</p>
      </div>
    </footer>

    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src='{% static "js/scrolling-nav.js" %}'></script>
    <script src='{% static "js/general.js" %}'></script>
    <script src='{% static "js/boca_de_urna.js" %}'></script>
    
  </body>

</html>
