{% extends "template_usuario.html" %}

{% block body %}
<form>
	<div class="form-group">
		<label for="nome_perfil">Nome</label>
		<input type="text" class="form-control" id="nome_perfil" value="{{usuario.nome}}" readonly>
	</div>
	<div class="form-group">
		<label for="cpf_perfil">CPF</label>
		<input type="text" class="form-control" id="cpf_perfil" value="{{usuario.cpf}}" readonly>
	</div>
	<div class="form-group">
		<label for="estado_perfil">Estado</label>
		<input type="text" class="form-control" id="estado_perfil" value="{{usuario.estado.sigla}}" readonly>
	</div>
	<div class="form-group">
		<label for="email_perfil">E-mail</label>
		<input type="email" class="form-control" id="email_perfil" value="{{usuario.email}}" readonly>
	</div>
	{% if user.id == usuario.id %}
  	<a href="{% url 'alterar_usuario' usuario_id=usuario.id %}" class="btn btn-primary">Alterar</a>
	{% endif %}
</form>
{% endblock %}
