{% extends "template_candidatos.html" %}

{% block body %}
<form>
	<section class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 mx-auto">
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Candidato</th>
					      <th scope="col">Partido</th>
					      <th scope="col">Estado</th>
								<th scope="col">Cargo</th>
								<th scope="col">Perfil</th>
					    </tr>
					  </thead>
						<tbody id="tabela-candidatos">
							{% for candidato in candidatos %}
						    <tr>
						      <th scope="row">{{candidato.id}}</th>
						      <td>{{candidato.nome}}</td>
						      <td>{{candidato.partido.sigla}}</td>
						      <td>{{candidato.estado.sigla}}</td>
									<td>{{candidato.cargo.nome}}</td>
									<td><a class="btn btn-primary" href="{% url 'candidato' candidato.id %}"><i class="fas fa-user-tie"></i></a></td>
						    </tr>
							{% endfor %}
					  </tbody>
					</table>
					<div class="pagination">
				    <span class="step-links">
				        {% if candidatos.has_previous %}
				            <a href="?pagina=1">&laquo; Primeira</a>
				            <a href="?pagina={{ candidatos.previous_page_number }}">Anterior</a>
				        {% endif %}

				        {% if candidatos.has_next %}
				            <a href="?pagina={{ candidatos.next_page_number }}">Próxima</a>
				            <a href="?pagina={{ candidatos.paginator.num_pages }}">Última &raquo;</a>
								{% endif %}
								
								<br>
								<span class="current">
									Page {{ candidatos.number }} of {{ candidatos.paginator.num_pages }}.
								</span>
				    </span>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
{% endblock %}
